[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
tiktoken = "*"
langchain-openai = "*"
python-dotenv = "*"
huggingface-hub = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
transformers = "*"
torch = "*"
supabase = "*"
pygithub = "*"
langchain-community = "*"
requests = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.12"
