[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "0.2.10"
openai = "*"
tiktoken = "*"
langchain-openai = "*"
python-dotenv = "*"
supabase = "*"
pygithub = "*"
langchain-community = "0.2.9"
requests = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.12"
